{% extends "base.html" %}

{% load static %}

{% block content %}

    {% for post in posts %}

    <section class="page-section clearfix">
        <div class="container">
          <div class="intro">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
              <h2 class="section-heading mb-4" >
                <span class="section-heading-lower" style="color: rgb(11, 188, 241)">{{post.titulo}}</span>
                <span class="section-heading-upper">{{post.contenido}}</span>
              </h2>
              <div style="text-align: left; color: blue; font-size: 0.8em;">
                Autor: {{post.autor}}
              </div>
            </div>
          </div>
        </div>
      </section>

    {% endfor %} 
<section>
    <div style="width: 75%; margin: auto; text-align: center; color:white;">
    </div>
</section>
{% endblock %}
