{% extends "base.html" %}
{% block title %}<title>Blog</title>{% endblock %}

{% load static %}

{% block content %}
<button class="btn btn-secondary">
  <a  href="formulario_blog/">Agregar otro Post</a>
</button>

    {% for post in posts %}

    <section class="page-section clearfix">
        <div class="container">
          <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{post.imagen.url}}" alt="" style="width: 50%;">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
              <h2 class="section-heading mb-4" >
                <span class="section-heading-lower" style="color: rgb(191, 241, 11)">{{post.titulo}}</span>
                <span class="section-heading-lower" style="color: rgb(11, 241, 42)">{{post.subtitulo}}</span>
                <span class="section-heading-upper">{{post.contenido}}</span>
              </h2>
              <div style="text-align: left; color: whitesmoke; font-size: 0.8em;">
                <p>Autor: {{post.autor}}</p>
                <p>Creado: {{post.created}}</p>
                  <button class="btn btn-secondary">
                    <a href="{% url 'Borrar_blog' post.titulo %}"> Eliminar</a>
                  </button>
                  <button class="btn btn-secondary">
                    <a href="{% url 'Editar_blog' post.titulo %}"> Editar</a>
                  </button>
              </div>
            </div>
          </div>
        </div>
      </section>
    
    {% endfor %}

{% endblock %}