{% extends "base.html" %}
{% block title %} <title>Formulario</title> {% endblock %}

{% block content %}
<body>
{% if user.is_authenticated %}   
    <h3 style="color: whitesmoke">
        Registra tu blog a continuación:
    </h3>

    <div class="form-group">
        <table>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ formulariob.media }}
            {{ formulariob.as_table}}
            <button class="btn btn-secondary">Post
            </button>
        </form>
        </table>
    </div>

    <script>
        var name = "{{ user.id }}";

        document.getElementById("elder").value= name;

    </script>

{% else %}

</body>
{% endif %}
{% endblock %}