{% extends "base.html" %}
{% block title %}<title>Home</title>{% endblock %}
{% block content %}

<div class="container; text-faded text-center py-5">
    <p style= "font-family:courier,arial,helvética; color: rgb(235, 247, 72)">Bienvenido a nuestro blog sobre mascotas, podrás agregar Post sobre tus mascotas, editar, buscar y hasta eliminar los Post. En "Nuestras mascotas" encontrarás un formulario para agregar datos sobre las mascotas como edad, color y tipo. Disfrute de su visita 
    </p>
</div>

{% endblock %}
