{% extends "base.html" %}
{% block title %}<title>Mi Perfil</title>{% endblock %}

{% block content %}

{% if request.user.is_authenticated %}
    <div class="linksCategorias">
        <img height="80px" src="{{url}}">
        <li>Usuario: {{ user.get_username }}</li>
        <li>Email: {{ user.email }}</li>
        <li>Nombre y Apellido: {{ user.first_name }} {{ user.last_name }}</li>
        <li>Tu Bio: {{ user.profile.bio }}</li>
        <li>Tu Website: {{ user.profile.website_url }}</li>
    </div>
{% endif %}

<p>
    <a href='/cuentas/editar_perfil' class="link">Edita tu Usuario</a>
</p>
<p>
    <a href='/cuentas/edit_profile' class="link">Edita tu Profile</a>
</p>
{% endblock %}