{% extends "base.html" %}
{% block title %}<title>Mi Perfil</title>{% endblock %}

{% block content %}

{% if request.user.is_authenticated %}
    <div class="linksCategorias">
        <img height="80px" src="{{url}}">
        <li>{{ user.get_username }}</li>
        <li>{{ user.email }}</li>
        <li>{{ user.first_name }}</li>
        <li>{{ user.last_name }}</li>
    </div>
{% endif %}
<p>
    <a href='/accounts/editar_perfil' class="link">Edita tu perfil</a>
</p>
<p>
    <a href="/accounts/agregar_avatar" class="link">Agregar Avatar</a>
</p>
{% endblock %}