{% extends "base.html" %}
{% block title %}<title>Editar User</title>{% endblock %}

{% block content %}
<h1 style="color: whitesmoke">Formulario - Editar Usuario</h1>
<h1 style="color: whitesmoke">de {{user.get_username}}</h1>

<body>
    <div class="container">
        <form action="" method="POST">
            {% csrf_token %}
            <table>

                {{miFormulario.as_table}}

            </table>
            <input class="btn btn-secondary" type="submit", value="Enviar">
        </form>
       
    </div>

</body>

{% endblock %}