{% extends "base.html" %}
{% block title %} <title>Formulario</title> {% endblock %}

{% block content %}
<body>
    <h3 style="color: whitesmoke">
        Registra tu mascota a continuación:
    </h3>

    {% if miformulario.errors %}
    <p style="color:red">Datos incorrectos, revisar</p>
    {% endif %}

    <div class="container">
        <form action="" method="POST">{% csrf_token %}
            <table>
                {{ miformulario.as_table }}
            </table>
            <input class="btn btn-secondary" type="submit", value="Enviar">
        </form>
    </div>
</body>
{% endblock %}
