{% extends "base.html" %}
{% block title %}<title>Lista</title>{% endblock %}

<style>
    .city {
      background-color: tomato;
      color: white;
      border: 2px solid black;
      margin: 20px;
      padding: 20px;
    }
</style>

{% block content %}

<h3 style="color: whitesmoke">
    Lista completa de mascotas
</h3>
<div class="cta-inner">
    <ul>

        {% for m in mascotalis %}
            <p style="color:brown">Nombre de la Mascota: {{m.nombre}}</p>
            <li style="color: whitesmoke">Edad: {{m.edad}} año/s</li>
            <li style="color: whitesmoke">Dueño: {{m.duenio}}</li>
            <li style="color: whitesmoke">Color: {{m.color}}</li>
            <li style="color: whitesmoke">tipo: {{m.tipo}}</li>
            <br>
        {% endfor %}
    </ul>
</div>

{% endblock %}