{% extends "base.html" %}

{% block title %} Lista completa {% endblock %}

{% block content %}

<h3>
    Lista completa de mascotas
</h3>

<ul>

    {% for dog in perro %}
        <li style="color:brown">Nombre del Perro: {{dog.nombre}}</li>
        <li>Edad: {{dog.edad}} año/s</li>
        <li>Dueño: {{dog.duenio}}</li>
        <li>Color: {{dog.color}}</li>
        <br>
    {% endfor %}
</ul>

 <ul>
    {% for cat in gato %}
        <li style="color: orangered">Nombre del Gato: {{cat.nombre}}</li>
        <li>Edad: {{cat.edad}} año/s</li>
        <li>Dueño: {{cat.duenio}}</li>
        <li>Color: {{cat.color}}</li>
        <br>
    {% endfor %}
</ul> 

<ul>
    {% for bunny in conejo %}
        <li style="color:purple">Nombre del Conejo: {{bunny.nombre}}</li>
        <li>Edad: {{bunny.edad}} año/s</li>
        <li>Dueño: {{bunny.duenio}}</li>
        <li>Color: {{bunny.color}}</li>
        <br>
    {% endfor %}
</ul>

{% endblock %}