{% extends "base.html" %}
{% block title %} <title>Nuestras mascotas</title> {% endblock %}

{% block content %}
<body>
    <h3 style="text-align: left; color: whitesmoke">
        Registra tu mascota a continuación:
    </h3>

    <div class="container">
          <p>
              <a class="nav-link text-uppercase text-expanded" style="color: rgb(239, 243, 30);" href="{% url 'Formulario' %}">Registra tu mascota</a>
          </p>
          <p>
            <a class="nav-link text-uppercase text-expanded" style="color: rgb(239, 243, 30);" href="{% url 'Busqueda' %}">Busqueda</a>
          </p>
          <p>
            <a class="nav-link text-uppercase text-expanded" style="color: rgb(239, 243, 30);" href="{% url 'Lista' %}">Lista de mascotas</a>
          </p>
    </div>
</body>
{% endblock %}