{% extends "base.html" %}
{% block title %}<title>Resultado</title>{% endblock %}

{% block content %}

<body>
    <div class="contenedorFormulario">
        <p>
            Estás buscando: <strong>{{query}}</strong>
        </p>

        {% if mascota %}
            <p>Mascota encontrada: {{mascota|length}}</p>
            <ul>
                {% for mas in mascota %}
                    <li>
                        Nombre: {{mas.nombre}}
                    </li>
                    <li>
                        Edad: {{mas.edad}} año/s
                    </li>
                    <li>
                        Dueño: {{mas.duenio}}
                    </li>
                    <li>
                        Color: {{mas.color}}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No se encuentra la mascota</p>
        {% endif %}
    </div>
</body>

{% endblock %}