{% extends "base.html" %}

{% block title %} Agregar Mascota {% endblock %}

{% block content %}

<ul>

    {% for dog in perro %}
        <li>Nombre del Perro: {{dog.nombre}}</li>
        <li>Edad del Perro: {{dog.edad}}</li>
        <li>Duenio del Perro: {{dog.duenio}}</li>
        <li>Color del Perro: {{dog.color}}</li>
        <br>
    {% endfor %}
</ul>

 <ul>
    {% for cat in gato %}
        <li>Nombre del Gato: {{cat.nombre}}</li>
        <li>Edad del Gato: {{cat.edad}}</li>
        <li>Duenio del Gato: {{cat.duenio}}</li>
        <li>Color del Gato: {{cat.color}}</li>
        <br>
    {% endfor %}
</ul> 

<ul>
    {% for bunny in conejo %}
        <li>Nombre del Conejo: {{bunny.nombre}}</li>
        <li>Edad del Conejo: {{bunny.edad}}</li>
        <li>Duenio del Conejo: {{bunny.duenio}}</li>
        <li>Color del Conejo: {{bunny.color}}</li>
        <br>
    {% endfor %}
</ul>

{% endblock %}